MAPTILER_API_KEY=MAPTILER_API_KEY

# GeoServer Configuration
GEOSERVER_BASE_URL=GEOSERVER_BASE_URL
GEOSERVER_WORKSPACE=GEOSERVER_WORKSPACE
GEOSERVER_BUILDING_LAYER=GEOSERVER_BUILDING_LAYER
GEOSERVER_FLOOD_LAYER=GEOSERVER_FLOOD_LAYER

# matomo
NEXT_PUBLIC_MATOMO_URL=https://deine-matomo-url.de
NEXT_PUBLIC_MATOMO_SITE_ID=X